<div id="wrapper">


<!-- Top Bar
================================================== -->
<div id="top-bar">
    <div class="container">

        <!-- Top Bar Menu -->
        <div class="ten columns">
            <ul class="top-bar-menu">
                <li><i class="fa fa-phone"></i> (564) 123 4567</li>
                <li><i class="fa fa-envelope"></i> <a href="#">mail@example.com</a></li>
                <li>
                    <div class="top-bar-dropdown">
                        <span>English</span>
                        <ul class="options">
                            <li><div class="arrow"></div></li>
                            <li><a href="#">English</a></li>
                            <li><a href="#">Polish</a></li>
                            <li><a href="#">Deutsch</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="top-bar-dropdown">
                        <span>USD</span>
                        <ul class="options">
                            <li><div class="arrow"></div></li>
                            <li><a href="#">USD</a></li>
                            <li><a href="#">PLN</a></li>
                            <li><a href="#">EUR</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- Social Icons -->
        <div class="six columns">
            <ul class="social-icons">
                <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                <li><a class="dribbble" href="#"><i class="icon-dribbble"></i></a></li>
                <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
            </ul>
        </div>

    </div>
</div>

<div class="clearfix"></div>


<!-- Header
================================================== -->
<div class="container">

    <!-- Logo -->
    <div class="four columns">
            <div id="logo">
                <h1><a href="index.html"><img src="/assets/theme/logo.png" alt="Trizzy" /></a></h1>
            </div>
    </div>


    <!-- Additional Menu -->
    <div class="twelve columns">
        <div id="additional-menu">
            <ul>
                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                <li><a href="wishlist.html">WishList <span>(2)</span></a></li>
                <li><a href="checkout-billing-details.html">Checkout</a></li>
                <li><a href="my-account.html">My Account</a></li>
            </ul>
        </div>
    </div>


    <!-- Shopping Cart -->
    <div class="twelve columns">

        <div id="cart">

            <!-- Button -->
            <div class="cart-btn">
                <a href="#" class="button adc">$178.00</a>
            </div>

            <div class="cart-list">

            <div class="arrow"></div>

                <div class="cart-amount">
                    <span>2 items in the shopping cart</span>
                </div>

                    <ul>
                        <li>
                            <a href="#"><img src="/assets/theme/small_product_list_08.jpg" alt="" /></a>
                            <a href="#">Converse All Star Trainers</a>
                            <span>1 x $79.00</span>
                            <div class="clearfix"></div>
                        </li>

                        <li>
                            <a href="#"><img src="/assets/theme/small_product_list_09.jpg" alt="" /></a>
                            <a href="#">Tommy Hilfiger <br /> Shirt Beat</a>
                            <span>1 x $99.00</span>
                            <div class="clearfix"></div>
                        </li>
                    </ul>

                <div class="cart-buttons button">
                    <a href="shopping-cart.html" class="view-cart" ><span data-hover="View Cart"><span>View Cart</span></span></a>
                    <a href="checkout-billing-details.html" class="checkout"><span data-hover="Checkout">Checkout</span></a>
                </div>
                <div class="clearfix">

                </div>
            </div>

        </div>

        <!-- Search -->
        <nav class="top-search">
            <form action="#" method="get">
                <button><i class="fa fa-search"></i></button>
                <input class="search-field" type="text" placeholder="Search" value=""/>
            </form>
        </nav>

    </div>

</div>


<!-- Navigation
================================================== -->
<div class="container">
    <div class="sixteen columns">

        <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

        <nav id="navigation">
            <ul class="menu" id="responsive">

                <li><a href="index.html" class="homepage">Home</a></li>


                <li class="dropdown">
                    <a href="#" class="current">Shop</a>
                    <ul>
                        <li><a href="shop-with-sidebar.html">Shop With Sidebar</a></li>
                        <li><a href="shop-full-width.html">Shop Full Width</a></li>
                        <li><a href="checkout-billing-details.html">Checkout Pages</a></li>
                        <li><a href="shop-categories-grid.html">Categories Grid</a></li>
                        <li><a href="single-product-page.html">Single Product Page</a></li>
                        <li><a href="variable-product-page.html">Variable Product Page</a></li>
                        <li><a href="wishlist.html">Wishlist Page</a></li>
                        <li><a href="shopping-cart.html">Shopping Cart</a></li>
                    </ul>
                </li>


                <li>
                    <a href="#">Features</a>
                    <div class="mega">
                        <div class="mega-container">

                            <div class="one-column">
                                <ul>
                                    <li><span class="mega-headline">Example Pages</span></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="services.html">Services</a></li>
                                    <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="404-page.html">404 Page</a></li>
                                </ul>
                            </div>

                            <div class="one-column">
                                <ul>
                                    <li><span class="mega-headline">Featured Pages</span></li>
                                    <li><a href="index-2.html">Business Homepage</a></li>
                                    <li><a href="shop-with-sidebar.html">Default Shop</a></li>
                                    <li><a href="blog-masonry.html">Masonry Blog</a></li>
                                    <li><a href="variable-product-page.html">Variable Product</a></li>
                                    <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
                                </ul>
                            </div>

                            <div class="one-column hidden-on-mobile">
                                <ul>
                                    <li><span class="mega-headline">Paragraph</span></li>
                                    <li><p>This <a href="#">Mega Menu</a> can handle everything. Lists, paragraphs, forms...</p></li>
                                </ul>
                            </div>

                            <div class="one-fourth-column hidden-on-mobile">
                                <a href="#" class="img-caption margin-reset">
                                    <figure>
                                        <img src="/assets/theme/menu-banner-01.jpg" alt="" />
                                        <figcaption>
                                            <h3>Jeans</h3>
                                            <span>Pack for Style</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>

                            <div class="one-fourth-column hidden-on-mobile">
                                <a href="#" class="img-caption margin-reset">
                                    <figure>
                                        <img src="/assets/theme/menu-banner-02.jpg" alt="" />
                                        <figcaption>
                                            <h3>Sunglasses</h3>
                                            <span>Nail the Basics</span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </li>


                <li class="dropdown">
                    <a href="#">Shortcodes</a>
                    <ul>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                        <li><a href="icons.html">Icons</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#">Portfolio</a>
                    <ul>
                        <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                        <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                        <li><a href="portfolio-dynamic-grid.html">Dynamic Grid</a></li>
                        <li><a href="single-project.html">Single Project</a></li>
                    </ul>
                </li>
                

                <li class="dropdown">
                    <a href="#">Blog</a>
                    <ul>
                        <li><a href="blog-standard.html">Blog Standard</a></li>
                        <li><a href="blog-masonry.html">Blog Masonry</a></li>
                        <li><a href="blog-single-post.html">Single Post</a></li>
                    </ul>
                </li>


                <li class="demo-button">
                  <a href="#">Get This Theme</a>
                </li>

            </ul>
        </nav>
    </div>
</div>


<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

    <img src="/assets/theme/titlebar_bg_01.jpg" alt="" />
    <div class="parallax-overlay"></div>


    <div class="parallax-content">
        <h2>Shop <span>International Shipping</span></h2>

        <nav id="breadcrumbs">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li>Products</li>
            </ul>
        </nav>
    </div>

</section>


<div class="container">

<!-- Sidebar
================================================== -->
    <div class="four columns">

        <!-- Categories -->
        <div class="widget margin-top-0">
            <h3 class="headline">Categories</h3><span class="line"></span><div class="clearfix"></div>

            <ul id="categories" class="categories_cAA">

                <li><a href="#">Accessories <span>(8)</span></a>
                    <ul>
                        <li><a href="#">Hats <span>(2)</span></a></li>
                        <li><a href="#">Bags <span>(2)</span></a></li>
                        <li><a href="#">Gloves  <span>(1)</span></a></li>
                        <li><a href="#">Belts <span>(3)</span></a></li>

                <li><a href="#">Accessories <span>(8)</span></a>
                    <ul>
                        <li><a href="#">Hats <span>(2)</span></a></li>
                        <li><a href="#">Bags <span>(2)</span></a></li>
                        <li><a href="#">Gloves  <span>(1)</span></a></li>
                        <li><a href="#">Belts <span>(3)</span></a></li>
                    </ul>
                </li>
                    </ul>
                </li>

                <li><a href="#">Jewelry <span>(12)</span></a>
                    <ul>
                        <li><a href="#">Rings <span>(3)</span></a></li>
                        <li><a href="#">Necklaces  <span>(2)</span></a></li>
                        <li><a href="#">Bracelets <span>(4)</span></a></li>
                        <li><a href="#">Watches <span>(3)</span></a></li>
                    </ul>
                </li>

                <li><a href="#">Gifts <span>(3)</span></a>
                    <ul>
                        <li><a href="#">Headphones <span>(1)</span></a></li>
                        <li><a href="#">Books  <span>(2)</span></a></li>
                        <li><a href="#">Gifts <span>(3)</span></a>
                            <ul>
                                <li><a href="#">Headphones <span>(1)</span></a></li>
                                <li><a href="#">Books  <span>(2)</span></a></li>
                                <li><a href="#">Gifts <span>(3)</span></a>
                                    <ul>
                                        <li><a href="#">Headphones <span>(1)</span></a></li>
                                        <li><a href="#">Books  <span>(2)</span></a></li>
                                        <li><a href="#">Gifts <span>(3)</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li><a href="#">Men's Wear <span>(14)</span></a>
                    <ul>
                        <li><a href="#">Denim <span>(3)</span></a></li>
                        <li><a href="#">Shirts <span>(4)</span></a></li>
                        <li><a href="#">Jackets  <span>(2)</span></a></li>
                        <li><a href="#">Suits <span>(3)</span></a></li>
                        <li><a href="#">Pants <span>(2)</span></a></li>
                    </ul>
                </li>

                <li><a href="#">Women's Wear <span>(20)</span></a>
                    <ul>
                        <li><a href="#">Denim <span>(2)</span></a></li>
                        <li><a href="#">Skirts <span>(3)</span></a></li>
                        <li><a href="#">Dresses <span>(5)</span></a></li>
                        <li><a href="#">Shirts <span>(4)</span></a></li>
                        <li><a href="#">Jumpsuits <span>(4)</span></a></li>
                        <li><a href="#">Shoes <span>(2)</span></a></li>
                    </ul>
                </li>

                <li><a href="#">Miscellaneous <span>(3)</span></a>
                    <!-- <ul>
                        <li><a href="#">Lamps <span>(1)</span></a></li>
                        <li><a href="#">Mugs  <span>(2)</span></a></li>
                    </ul> -->
                </li>

                <li><a href="#">Levels Example <span>(7)</span></a>
                    <ul>
                        <li><a href="#">Books <span>(1)</span></a></li>
                        <li><a href="#">Headphones <span>(6)</span></a>
                            <ul>
                                <li><a href="#">Open <span>(2)</span></a>
                                    <ul>
                                        <li><a href="#">Sennheiser</a></li>
                                        <li><a href="#">Beyerdynamic</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Closed <span>(4)</span></a>
                                    <ul>
                                        <li><a href="#">Beyerdynamic</a></li>
                                        <li><a href="#">Denon</a></li>
                                        <li><a href="#">Sennheiser</a></li>
                                        <li><a href="#">AKG</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>

        </div>
        
        
        <div class="widget margin-top-0">
          <% get_taxonomies.each do |taxonomy| %>
            <h3 class="headline"><%= taxonomy.name %></h3><span class="line"></span><div class="clearfix"></div>
            <ul id="categoriesAA" class="categories_c">
            <% taxonomy.taxons.select{|x| x.depth==1}.each do |taxon| %>
                <li><a href="<%= seo_url(taxon) %>"><%= taxon.name %> <span>(<%= taxon.products.count %>)</span></a>
                    <% next unless taxon.children.count > 0 %>
                    <ul>
                        <% taxon.children.each do |taxon_c| %>
                            <% next unless taxon_c.products.count > 0 %>
                            <li><a href="<%= seo_url(taxon_c) %>"><%= taxon_c.name %> <span>(<%= taxon_c.products.count %>)</span></a></li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
            </ul>
          <% end %>
        </div>
        <hr><hr>

        <!-- Widget -->
        <div class="widget">
            <h3 class="headline">Filter By Price</h3><span class="line"></span><div class="clearfix"></div>

            <div id="price-range">
                <div class="padding-range"><div id="slider-range"></div></div>
                <label for="amount">Price:</label>
                <input type="text" id="amount"/>
                <a href="#" class="button color">Filter</a>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>


    <!-- Content
    ================================================== -->
    <div class="twelve columns">

        <!-- Ordering -->
        <select class="orderby">
            <option>Default Sorting</option>
            <option>Sort by Popularity</option>
            <option>Sort by Newness</option>
        </select>

    </div>

    <!-- Products -->
    <div class="twelve columns products">

        <!-- Product #1 -->
        <%= render "shop/index_product" if false %>
        <% Spree::Product.all.each.with_index do |product,i| %>
            <%= content_tag :div, "", class: "clearfix" if true && i%3 == 0 %>
            <!-- TODO  decide if use clearfix or not- bcz responsive-->
            <%= render "/shop/index_product", product: product%>
        <% end %>
        
        
        <div class="four shop columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="variable-product-page.html">
                        <img alt="" src="/assets/theme/shop_item_01.jpg"/>
                        <div class="cover">
                            <img alt="" src="/assets/theme/shop_item_01_hover.jpg"/>
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>

                <a href="variable-product-page.html">
                    <section>
                        <span class="product-category">Skirts</span>
                        <h5>Brown Mini Skirt</h5>
                        <span class="product-price">$79.00</span>
                    </section>
                </a>
            </figure>
        </div>


        <!-- Product #2 -->
        <div class="four shop columns">
            <figure class="product">
                <div class="mediaholder">
                    <a href="single-product-page.html">
                        <img alt="" src="/assets/theme/shop_item_02.jpg"/>
                        <div class="cover">
                            <img alt="" src="/assets/theme/shop_item_02_hover.jpg"/>
                        </div>
                    </a>
                    <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                </div>

                <a href="single-product-page.html">
                    <section>
                        <span class="product-category">Shoes</span>
                        <h5>Glory High Shoes </h5>
                        <span class="product-price">$99.00</span>
                    </section>
                </a>
            </figure>
        </div>

        <div class="clearfix"></div>


        <!-- Pagination -->
        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev"></a></li>
                    <li><a href="#" class="next"></a></li>
                </ul>
            </nav>
        </div>

    </div>

</div>

<div class="margin-top-15"></div>


<!-- Footer
================================================== -->
<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="four columns">
            <img src="/assets/theme/logo-footer.png" alt="" class="margin-top-10"/>
            <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Customer Service</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">Order Status</a></li>
                <li><a href="#">Payment Methods</a></li>
                <li><a href="#">Delivery & Returns</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">My Account</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Newsletter</h3>
            <span class="line"></span>
            <div class="clearfix"></div>
            <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales and more.</p>

            <form action="#" method="get">
                <button class="newsletter-btn" type="submit">Join</button>
                <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
            </form>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
        <div class="eight columns">
            <ul class="payment-icons">
                <li><img src="/assets/theme/visa.png" alt="" /></li>
                <li><img src="/assets/theme/mastercard.png" alt="" /></li>
                <li><img src="/assets/theme/skrill.png" alt="" /></li>
                <li><img src="/assets/theme/moneybookers.png" alt="" /></li>
                <li><img src="/assets/theme/paypal.png" alt="" /></li>
            </ul>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>

