<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>
<!-- ME -->
<%= render "/shop/side_bar" %> 

    <div class="twelve columns">

        <!-- Ordering -->
        <select class="orderby">
            <option>Default Sorting</option>
            <option>Sort by Popularity</option>
            <option>Sort by Newness</option>
        </select>

        
     </div>
<!-- ME -->
<% content_for :head do %>
  <% if paginated_products.respond_to?(:num_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<% if products.empty? %>
  <%= Spree.t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h6 class="search-results-title"><%= Spree.t(:search_results, :keywords => h(params[:keywords])) %></h6>
<% end %>

<% if products.any? %>
    <div class="twelve columns products">
        <%  products.each.with_index do |product,i| %>
            <%= content_tag :div, "", class: "clearfix" if true && i%3 == 0 %>
            <!-- TODO  decide if use clearfix or not- bcz responsive-->
            <%= render "/shop/index_product", product: product%>
        <% end %>
        <div class="clearfix"></div>
        <% if paginated_products.respond_to?(:num_pages) %>
          <%= paginate paginated_products %>
        <% end %>
    </div>
<% end %>

